 .text{
    width: 850px;
 }
 .photo1{
    display: flex;
height: 200px;
width: 100px;
margin-left: 850px;
margin-top: -530px;
 }
 body{
    background: url(5.jpg);  
  }
  form{
width: 300px;
margin-left: 850px;
  }
h2{
    text-align: center;
    color: rgb(29, 92, 95);
  }
  h1{
    margin-left: 380px;
    color: rgb(29, 92, 95);
  }
  a{ 
    color: rgb(80, 142, 235);
  }